@model IEnumerable<AppLoginAspCore.Models.Cliente>

@{
    ViewData["Title"] = "Clentes";
    var pesquisa = Context.Request.Query["pesquisa"];
}

<h1>Clientes</h1>
@* <p class="btn btn-outline-primary" role="button">
    <a asp-action="Cadastrar">
        <span class="fas fa-user-plus" title="Cadastro" aria-hidden="true"></span>
        <span>Cadastrar</span>
    </a>
</p> *@

<form method="get">
    <div class="form-group">
        <label for="pesquisa"></label>
        <input type="text" name="pesquisa" id="pesquisa" value="@pesquisa" class="form-control" placeholder="Digite o nome ou e-mail do cliente">
    </div>
    <button type="submit" class="btn btn-primary">OK</button>
</form>
<br />
<br />
<a class="btn btn-primary" asp-action="Cadastrar">Cadastrar</a>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.First().Id)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.First().Nome)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.First().CPF)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.First().Nascimento)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.First().Telefone)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.First().Email)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.First().Senha)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.First().Situacao)</th>

                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Cliente cliente in Model)
            {
                <tr>
                    <th scope="row">@cliente.Id</th>
                    <td>@cliente.Nome</td>
                    <td>@cliente.CPF</td>
                    <td>@cliente.Nascimento. </td>
                    <td>@cliente.Telefone</td>
                    <td>@cliente.Email</td>
                    <td>@cliente.Senha</td>
                    <td>@cliente.Situacao</td>


                    <td>
                        @if (cliente.Situacao == "A")
                        {
                            <button type="button" class="btn btn-danger">
                                @Html.ActionLink("Desativar", "Desativar", new { id = cliente.Id },
                                         new { onclick = "return confirm('Deseja realmente desativar?');" })
                            </button>
                        }
                        else if(cliente.Situacao == "D")
                        {
                            <button type="button" class=" btn btn-secondar">
                                @Html.ActionLink("Ativar", "Ativar", new { id = cliente.Id },
                                         new { onclick = "return confirm('Deseja realmente ativar?');" })
                            </button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
