@model IEnumerable<AppLoginAspCore.Models.Colaborador>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p class="btn-primary">
    <a asp-action="Cadastrar">Cadastrar</a>
</p>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.First().Id)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.First().Nome)</th>                
                <th scope="col">@Html.DisplayNameFor(model => model.First().Email)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.First().Senha)</th>

                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Colaborador colaborador in Model)
            {
                <tr>
                    <th scope="row">@colaborador.Id</th>
                    <td>@colaborador.Nome</td>                    
                    <td>@colaborador.Email</td>
                    <td>@colaborador.Senha</td>

                    <td>
                        @* <a asp-action="GerarSenha" asp-route-id="@colaborador.Id" class="btn btn-secondary">Gerar Senha</a> *@
                        <a asp-action="Atualizar" asp-route-id="@colaborador.Id" class="btn btn-secondary">Atualizar</a>
                        <a asp-action="Excluir" asp-route-id="@colaborador.Id" class="btn btn-danger">Excluir</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
